h1 {
    color: bisque;
    font-size: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;

}

h2 {
    color:azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

h3 {
    color:antiquewhite;
    background-color:saddlebrown;
    width: auto;
    align-content: center;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
   
}
.Banner {
    background-image: url("/Users/kylelamothe/Documents/FrontEndProjects1/HumbleCarpSite/resources/images/GarageDoor.png");
    background-size:cover;
    align-self: stretch;
    height: 500px;
    padding-top: 120px;
    background-repeat: no-repeat;
    width: auto;
    color: black;
    
    margin-top: 75px;
    text-align: center;
}